# Build Files
build/
DerivedData/

# CocoaPods
Pods/

# R.swift
*.generated.swift
**/*.generated.swift

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Obj-C/Swift
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Flutter
FlutterModule/frameworks/

# VS Code
.vscode/

# Miscellaneous
.DS_Store
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint
